html,
body,
#app {
  height: 100dvh;
  margin: 0;
  padding: 0;
}

html.dark {
  color-scheme: dark;
}

.splitpanes--vertical > .splitpanes__splitter {
  min-width: 6px;
  background: #99999920;
  transition: all 0.3s;
}

.splitpanes--vertical > .splitpanes__splitter:active,
.splitpanes__splitter:hover {
  min-width: 10px;
  background: #99999975;
}

.splitpanes--horizontal > .splitpanes__splitter {
  min-height: 8px;
  background: #99999920;
}
